html {
    font-size: 20px;
}
body {
    background-color: #2E3836;
    color: white;
}
a {
    color: lightgreen;
}
a:hover {
    color: aqua;
}
mark {
    color: pink;
    background-color: black;
}
table, th, td, tr {
    border: 1px solid white;
}